.container-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f6f6f6;
}

.content-cadastro {
    background-color: #FAD14175;
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 15px;
}

.logo-apoio-pet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 10px;
}

.logo-apoio-pet .img-logo {
    height: 75px;
    width: auto;
}

.logo-apoio-pet .txt-logo {
    font-size: 30px;
    font-weight: 600;
    color: #5D3607;
}

.inputs-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 10px;
}

.inputs-cadastro .title-cadastro {
    font-size: 28px;
    font-weight: 600;
    color: #5D3607;
    text-align: center;
    margin-bottom: 10px;
}

.inputs-cadastro .input-cadastro {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-cadastro label {
    font-size: 18px;
    color: #5D3607;
}

.input-cadastro input {
    background-color: #fff;
    padding: 14px 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.btn-cadastro {
    background-color: #FAD141;
    padding: 14px 16px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    color: #5D3607;
}

.btn-cadastro:hover {
    background-color: #c79c00;
}

.link-cadastro {
    margin-top: 18px;
    font-size: 14px;
    color: #5D3607;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: 400;
}

.link-cadastro:hover {
    text-decoration: underline;
}

.link-cadastro .link-entrar {
    font-weight: 600;
    text-decoration: none;
    color: #5D3607;
}

