#adoption {
    background-color: #FFF9CD;
    padding: 55px 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 880px;
    margin-top: 100px;
}

/* TÍTULO */
.adoption-title {
    font-size: 46px;
    font-weight: 600;
    color: #404040;
}

.adoption-title span {
    color: #FAD141;
}

/* SUBTÍTULO */
.adoption-subtitle {
    font-size: 26px;
    font-weight: 400;
    color: #5D360799;
    text-align: center;
    margin-bottom: 60px;
    width: 55%;
}

/* GRID DE CARDS */
.adoption-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 101px;
}

/* CARD INDIVIDUAL */
.adoption-card {
    background-color: #FFF;
    border-radius: 10px;
    width: 337px;
    height: 467px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* IMAGEM DO CARD */
.adoption-card-image {
    width: 100%;
    height: 280px;
    object-fit: fill;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* NOME + RAÇA + ESPÉCIE */
.adoption-info {
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.adoption-name {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.adoption-breed {
    color: #5D3607B2;
    font-size: 16px;
}

.adoption-species {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #FAD14152;
    border-radius: 30px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 500;
}

/* DESCRIÇÃO DO ANIMAL */
.adoption-description {
    font-size: 16px;
    color: #5D3607B2;
    padding: 0px 24px 20px 24px;
    flex-grow: 1;
}

/* BOTÃO */
.adoption-button {
    margin: 20px auto 20px auto;
    background-color: #FAD141;
    color: #5D3607;
    padding: 16px 64px;
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    border: none;
    display: block;
}

.adoption-button:hover {
    background-color: #cfa200;
}

/* DESABILITADO */
.adoption-button:disabled {
    background-color: #d9d9d9;
    color: #777;
    cursor: not-allowed;
}

/* LINK VOLTAR PARA HOME */
.back-home {
    margin-bottom: 40px;
    text-align: center;
}

.back-home-link {
    display: inline-block;
    background-color: #FAD141;
    color: #5D3607;
    padding: 12px 32px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.back-home-link:hover {
    background-color: #cfa200;
    color: #fff;
}
